@media (forced-colors: active) {
  td {
    border: 1px solid;
  }
}

td {
  text-align: center;
  padding: 0.5em;
  text-overflow: clip;
}

tr {
  min-height: 3em;
}

tr:not(:first-of-type) > td:nth-of-type(2) {
  max-width: 50vw;
  min-width: 30vw;
  min-height: inherit;
  max-height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

p {
  white-space: pre-line;
  overflow: auto;
  width: 100%;
  max-height: 33em;
  text-align: start;
}

tr:first-of-type > td {
  background: rgb(var(--mainRgbThemeColor));
}

tr:last-of-type {
  border-radius: 0 0 10px 10px;
}

tr:not(:first-of-type) > td {
  background: rgba(var(--mainRgbThemeColor), 0.85);
}

/* tr:not(:first-of-type):hover {
  transform: scale(1.06);
  transition: 100ms; 
  outline: 2px solid;
   background: var(--secondaryThemeColor); 
} */

tr:not(:first-of-type) > td:hover {
  outline: 2px solid;
}

:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
  height: -moz-fit-content;
}

table {
  background: var(--secondaryThemeColor);
  border-radius: 10px 10px;
  max-width: 135px;
  color: var(--secondaryThemeColor);
}

a {
  user-select: none;
}

tr:not(:first-of-type) > td:last-of-type {
  width: 18%;
  background: var(--pageBackgroundColor);
  user-select: none;
}

tr:not(:first-of-type) > td:last-of-type:hover {
  background: #f00;
  cursor: pointer;
}
/* td border start */
/* 
table > tr:first-of-type > td:first-of-type {
  border-top-left-radius: 10px;
}
table > tr:first-of-type > td:last-of-type {
  border-top-right-radius: 10px;
}
table > tr:last-of-type > td:first-of-type {
  border-end-start-radius: 10px;
}
table > tr:last-of-type > td:last-of-type {
  border-end-end-radius: 10px;
} */

/* td border end */
