* {
  text-align: center;
}

/* :host > p {
  margin-top: 2em;
  margin-bottom: 2em;
} */

#greeting {
  color: white;
  font-family: 'Geologica';
  font-weight: 500;
  padding: 1em;
}
