<div class="content">
  <h3 id="greeting">Witaj na stronie rezerwacji stanowisk komputerowych!</h3>
  <p>
    Poniżej znajduje się tabela stanowisk komputerowych, a pod nią formularz
    rezerwacji. <br />
    Aby móc zarezerwować stanowisko musi ono istnieć w bazie danych oraz być
    niezarezerwowane wcześniej przez nikogo.
  </p>
</div>
<app-reservation-hours-select class="block">.</app-reservation-hours-select>
<app-reservation-list class="block">..</app-reservation-list>

<app-desk-list class="block">Loading desk list..</app-desk-list>
<app-desk-addition-form class="block">.</app-desk-addition-form>
