td {
  margin: 0;
  background: var(--mainThemeColor);
}

@media (forced-colors: active) {
  td {
    border: 1px solid;
  }
}

table > tr:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table > tr:last-of-type {
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

td {
  text-align: center;
  padding: 0.4em;
}
td:hover {
  transform: scale(1.06);
  outline: 2px solid;
}

tr:not(:first-of-type):hover > td:not(:hover):not(:last-of-type) {
  background: #aaa;
}

tr:not(:first-of-type) > td:last-of-type {
  background: var(--pageBackgroundColor);
}

tr:not(:first-of-type) > td:last-of-type:hover {
  background-color: red;
  cursor: pointer;
}

:host {
  height: fit-content;
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  background: var(--secondaryThemeColor);
  border-radius: 10px 10px;
}

/* td border start */

table > tr:first-of-type > td:first-of-type {
  border-top-left-radius: 10px;
}
table > tr:first-of-type > td:last-of-type {
  border-top-right-radius: 10px;
}
table > tr:last-of-type > td:first-of-type {
  border-end-start-radius: 10px;
}
table > tr:last-of-type > td:last-of-type {
  border-end-end-radius: 10px;
}

/* td border end */
