tr {
  border: 1px solid;
  overflow: hidden;
}
table > tr:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table > tr:last-of-type {
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}
td {
  text-align: center;
  padding: 0.4em;
  border-collapse: collapse;
  border: 1px solid;
}
/* tr > td:not(:first-of-type):not(:last-of-type) {
  outline: 1px solid;
} */
td:hover {
  transform: scale(1.06);
  background: #45b6db;
  outline: 1px solid;
}

tr:hover {
  background: #aaa;
}

:host {
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  background: #4eb0d1;
  border-radius: 10px 10px;
}

/* td border start */

table > tr:first-of-type > td:first-of-type {
  border-top-left-radius: 10px;
}
table > tr:first-of-type > td:last-of-type {
  border-top-right-radius: 10px;
}
table > tr:last-of-type > td:first-of-type {
  border-end-start-radius: 10px;
}
table > tr:last-of-type > td:last-of-type {
  border-end-end-radius: 10px;
}

/* td border end */
