#width2LowMS {
  display: none;
  background: rgb(var(--mainRgbThemeColor));
  padding: 2em;
  border-radius: 10px;
}

@media (forced-colors: active) {
  td {
    border: 1px solid;
  }
}

@media (max-width: 400px) {
  table {
    display: none;
  }
  #width2LowMS {
    display: block;
  }
}

td {
  margin: 0;
  text-align: center;
  padding: 0.4em;
}

tr:first-of-type > td {
  background: rgb(var(--mainRgbThemeColor));
}

tr:not(:first-of-type) > td {
  background: rgba(var(--mainRgbThemeColor), 0.85);
}

/* v Didnt use border: because inheritance wouldnt work when both selectors apply 
(that happens when the table is empty) */
/* table > tr:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

table > tr:last-of-type {
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

/* tr:not(:first-of-type):hover {
  transform: scale(1.02);
  transition: 100ms;
  outline: 2px solid;
  background: var(--secondaryThemeColor);
} */

tr:not(:first-of-type) > td:last-of-type {
  background: var(--pageBackgroundColor);
  user-select: none;
}

tr:not(:first-of-type) > td:last-of-type:hover {
  background-color: red;
  cursor: pointer;
}

:host {
  height: fit-content;
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  background: var(--secondaryThemeColor);
  color: var(--secondaryThemeColor);
  /* border-radius: 10px 10px; */
}

/* td border start */

/* table > tr:first-of-type > td:first-of-type {
  border-top-left-radius: 10px;
}
table > tr:first-of-type > td:last-of-type {
  border-top-right-radius: 10px;
}
table > tr:last-of-type > td:first-of-type {
  border-end-start-radius: 10px;
}
table > tr:last-of-type > td:last-of-type {
  border-end-end-radius: 10px; 
} */

/* td border end */
