<table class="table is-bordered is-striped is-narrow is-hoverable">
  <tr class="tr">
    <td class="td">Numer stanowiska</td>
    <td class="td">Zarezerwowane przez</td>
    <td class="td">Dzień rezerwacji</td>
    <td class="td" colspan="2">Godziny rezerwacji</td>
  </tr>
  <tr class="tr" *ngFor="let desk of reservationList$ | async">
    <td class="td">{{ desk.deskID }}</td>
    <td class="td">{{ desk.reservedBy }}</td>
    <td class="td">{{ desk.reservationDate }}</td>
    <td class="td">Od {{ desk.startHour }} do {{ desk.endHour }}</td>
    <td class="td" oncopy="return false" ondrag="return false">
      <button
        class="delete is-medium"
        (click)="deleteReservation(desk)"
        tabindex="0"
        (keydown.enter)="deleteReservation(desk)"
        title="anuluj rezerwację"
      ></button>
    </td>
  </tr>
</table>
<div id="width2LowMS">
  Szerokość ekranu urządzenia jest zbyt niska aby wyświetlić ten element
</div>
