header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #54bfe3;
}

h1 {
  width: 50%;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
  background: #add8e6;
  padding: 5px;
  border-radius: 10px 5px 10px 5px;
  border: 2px solid #96cadb;
  user-select: none;
  margin: 5px;
}

a:focus {
  border: 2px solid #6b8f9b;
}
/* a:hover {
  cursor: pointer;
} */
