<table class="table is-bordered is-striped is-narrow is-hoverable">
  <tr class="tr">
    <td class="td">Numer stanowiska</td>
    <td class="td" colspan="2">Sprawne</td>
  </tr>
  <tr class="tr" *ngFor="let desk of deskList$ | async">
    <td class="td">{{ desk.deskID }}</td>
    <td class="td">
      <ng-template [ngIf]="desk.functional">Tak</ng-template>
      <ng-template [ngIf]="!desk.functional">Nie</ng-template>
    </td>
    <td
      class="td"
      (click)="deleteDesk(desk)"
      tabindex="0"
      (keydown.enter)="deleteDesk(desk)"
      title="usuń stanowisko"
      oncopy="return false"
      ondrag="return false"
    >
      x
    </td>
  </tr>
</table>
