<div id="resHoursWrapper" class="card">
  <form (ngSubmit)="getAvailableHours()" [formGroup]="form">
    <label
      >ID stanowiska:
      <input type="number" class="input" formControlName="deskID" />
    </label>
    <label
      >Dzień rezerwacji:
      <input type="date" class="input" formControlName="reservationDate" />
    </label>
    <input type="submit" />
  </form>
  <h1>Godziny rezerwacji</h1>
  <div *ngIf="availableHours.length > 0" id="hoursContainer">
    <div
      *ngFor="let i of workHours"
      class="tag"
      [ngClass]="checkIfReservedHour(i) ? 'is-danger' : 'is-info'"
    >
      {{ i }}
    </div>
  </div>
</div>
