.reserved {
  color: red;
}

.available {
  color: green;
}

#hoursContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

#hoursContainer > div {
  margin: 0.25em;
  width: 25px;
  text-align: center;
}

#resHoursWrapper {
  max-width: 600px;
}

/* #resHoursWrapper {
  background: rgb(var(--mainRgbThemeColor));
  padding: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

h1 {
  width: 100%;
}

.input {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
:host {
  display: flex;
  justify-content: center;
}

#hoursSelect {
  width: 100%;
}
