<div
  id="resHoursWrapper"
  class="is-flex is-flex-wrap-wrap is-justify-content-center"
>
  <form
    class="block form has-text-white"
    (ngSubmit)="getAvailableHours()"
    [formGroup]="form"
  >
    <label
      ><p class="subtitle has-text-white">ID stanowiska:</p>
      <input
        type="number"
        class="input mb-6"
        formControlName="deskID"
        name="deskID"
      />
    </label>
    <label
      ><p class="subtitle has-text-white">Kto rezerwuje:</p>
      <input
        type="text"
        class="input mb-6"
        formControlName="reservedBy"
        name="reservedBy"
      />
    </label>
    <label
      ><p class="subtitle has-text-white">Dzień rezerwacji:</p>
      <input
        type="date"
        class="input"
        formControlName="reservationDate"
        name="reservationDate"
      />
    </label>
    <input type="submit" class="block button is-link mt-4" value="Sprawdź" />
  </form>
  <div
    id="afterFormPart"
    class="is-flex is-flex-wrap-wrap is-justify-content-center"
    *ngIf="displayList"
  >
    <div id="info" class="mb-4">
      <h1 class="subtitle has-text-white">
        Godziny rezerwacji na dzień {{ reservationDate.value }}
      </h1>
      <p>
        Wybierz przedział godzin który chcesz zarezerwować. <br />
        Najpierw kliknij początek wybranego przedziału, a następnie jego koniec
        <br />
        Możesz zarezerwować stanowisko na 1h dwukrotnie klikając wybraną godzinę
      </p>
    </div>
    <div
      id="hoursSelect"
      class="is-flex is-align-items-center is-justify-content-space-evenly"
    >
      <div id="hoursContainer">
        <div
          *ngFor="let i of workHours"
          class="tag is-center is-unselectable"
          [ngClass]="
            checkIfReservedHour(i) ? 'is-danger' : 'is-primary  is-clickable'
          "
          (click)="selectHour(i)"
          [class.has-background-primary-dark]="
            i == reservationHours.from || i + 1 == reservationHours.to
          "
        >
          {{ i }}
        </div>
        <br />
      </div>

      <button
        class="button block button is-link is-small"
        (click)="clearSelectedHours()"
      >
        Wyczyść
      </button>
    </div>
    <button class="button block button is-link mt-4" (click)="reserve()">
      Rezerwuj
    </button>
  </div>
</div>
