<form>
  <label
    >Numer stanowiska:
    <input name="deskID" type="number" [(ngModel)]="this.reserveObj.deskID" />
  </label>
  <br />
  <label>
    Kto rezerwuje:
    <input
      name="reservedBy"
      type="text"
      [(ngModel)]="this.reserveObj.reservedBy"
    />
  </label>
  <label>
    Na kiedy rezerwacja:
    <input
      name="reservationDate"
      type="date"
      [(ngModel)]="this.reserveObj.reservationDate"
    />
  </label>
  <button (click)="reserveDesk()">Rezerwuj</button>
</form>
