<form [formGroup]="reservationForm">
  <h3 class="bigTxtFont">Formularz rezerwacji</h3>
  <label
    >Numer stanowiska:
    <input name="deskID" type="number" formControlName="deskID" />
  </label>
  <br />
  <label>
    Kto rezerwuje:
    <input name="reservedBy" type="text" formControlName="reservedBy" /> </label
  ><br />
  <label>
    Na kiedy rezerwacja:
    <input
      name="reservationDate"
      type="date"
      formControlName="reservationDate"
    /> </label
  ><br />
  <a (click)="reserveDesk()">Rezerwuj</a>
</form>
