label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label > input {
  width: 40%;
  border: none;
  padding: 2px;
  max-height: 1.5em;
}

form {
  padding: 3.5em;
  padding-top: 1em;
  margin: 1em;
  background-color: #4eb0d1;
  border-radius: 10px;
  max-width: fit-content;
}

h3 {
  font-size: 2em;
  margin-bottom: 2em;
}

:host {
  display: flex;
  justify-content: center;
}
