<form [formGroup]="reservationForm" (ngSubmit)="reserveDesk()">
  <h3 class="bigTxtFont">Zarezerwuj</h3>

  <label class="block"
    >Numer stanowiska:
    <input
      name="deskID"
      type="number"
      formControlName="deskID"
      class="input is-small"
    />
    <!-- <select formControlName="deskID">
      <option selected></option>
      <option *ngFor="let desk of deskList$ | async" value="{{ desk.deskID }}">
        {{ desk.deskID }}
      </option>
    </select> -->
  </label>
  <div *ngIf="deskID.touched && deskID.invalid" class="inputErrors">
    To pole nie może być puste
  </div>
  <br />
  <label class="block">
    Kto rezerwuje:
    <input
      name="reservedBy"
      type="text"
      formControlName="reservedBy"
      class="input is-small"
    />
  </label>
  <div *ngIf="reservedBy.touched && reservedBy.invalid" class="inputErrors">
    To pole nie może być puste
  </div>
  <br />
  <p>Dzień i godziny rezerwacji</p>
  <hr />
  <label class="block">
    Dzień rezerwacji:
    <input
      name="reservationDate"
      type="date"
      formControlName="reservationDate"
      class="input is-small"
    />
  </label>

  <div
    *ngIf="reservationDate.touched && reservationDate.invalid"
    class="inputErrors"
  >
    Podaj poprawną datę
  </div>
  <br />
  <label class="block">
    Początek:
    <input
      type="number"
      name="startHour"
      formControlName="startHour"
      min="6"
      max="17"
      class="input is-small"
    />
  </label>

  <div *ngIf="startHour.touched && startHour.invalid" class="inputErrors">
    Początek rezerwacji musi zawierać się w godzinach 6-17
  </div>

  <br />
  <label class="block">
    Koniec:
    <input
      type="number"
      name="endHour"
      formControlName="endHour"
      min="7"
      max="18"
      class="input is-small"
    />
  </label>

  <div *ngIf="endHour.touched && endHour.invalid" class="inputErrors">
    Koniec rezerwacji musi zawierać się w godzinach 7-18
  </div>

  <br />
  <input type="submit" value="Rezerwuj" class="button is-info block" />
</form>
