<table>
  <tr>
    <td>Numer stanowiska</td>
    <td>Opis</td>
    <td colspan="2">Aktualne</td>
  </tr>
  <tr *ngFor="let report of reports$ | async">
    <td>{{ report.deskID }}</td>
    <td>
      <textarea readonly *ngIf="report.description != ''">{{
        report.description
      }}</textarea>
      <ng-template [ngIf]="report.description == ''">[Brak]</ng-template>
    </td>
    <td>
      <ng-template [ngIf]="report.dealtWith">Nie</ng-template>
      <ng-template [ngIf]="!report.dealtWith">Tak</ng-template>
    </td>
    <td (click)="dealtWithMalfunction(report)">0</td>
    <!--placeholder-->
  </tr>
</table>
