<header>
  <p class="bigTxtFont">Witaj na naszej stronie!</p>
  <nav>
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Strona główna</a
    >
    <a
      routerLink="/reservation"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Rezerwacja</a
    >
    <a
      routerLink="/reports"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Raporty</a
    >
  </nav>
</header>
<article>
  <router-outlet></router-outlet>
</article>
