header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(var(--headerRgbColor));
  min-height: fit-content;
  max-height: 15vh;
}

header > p {
  width: 53%;
  user-select: none;
  text-align: center;
}

nav > a {
  text-decoration: none;
  color: inherit;
  background: rgba(156, 199, 213, 0.5);
  padding: 5px;
  border-radius: 10px 5px 10px 5px;
  border: 2px solid rgba(107, 143, 155, 0.4);
  user-select: none;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}
@media (max-width: 550px) {
  nav {
    flex-direction: column-reverse;
  }
  header {
    max-height: 15em;
  }
}

nav > a:hover {
  border: 2px solid rgba(64, 85, 92, 0.6);
}
nav > a:focus {
  background: #617c85;
  border: 2px solid #6b8f9b;
}

nav > a:focus-visible {
  outline: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  margin: 1%;
}

article {
  overflow: auto;
  width: 100%;
  min-height: fit-content;
  max-height: 89vh;
  text-align: center;
}

:host {
  height: 100vh;
}

#scrlPlaceholder {
  /* Its so article scroll shows the entire thing */
  height: 3em;
}
