

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--mainThemeColor);
  min-height: 5em;
}

header > p {
  width: 53%;
  user-select: none;
  text-align: center;
}

nav > a {
  text-decoration: none;
  color: inherit;
  background: #9cc7d5;
  padding: 5px;
  border-radius: 10px 5px 10px 5px;
  border: 2px solid rgba(150, 202, 219, 0.2);
  user-select: none;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}
@media (max-width: 350px) {
  nav {
    flex-direction: column-reverse;
  }
}

nav > a:hover {
  border: 2px solid #6b8f9b;
}
nav > a:focus {
  background: #617c85;
  border: 2px solid #6b8f9b;
}

nav > a:focus-visible {
  outline: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  margin: 1%;
}
