<header>
  <p class="bigTxtFont">Witaj na naszej stronie!</p>
  <div class="tabs is-centered">
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="button is-info"
          >Strona główna</a
        >
      </li>
      <a
        routerLink="/reservation"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="button is-info"
        >Rezerwacja</a
      >
      <a
        routerLink="/reports"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="button is-info"
        >Raporty</a
      >
    </ul>
  </div>
</header>
<article>
  <router-outlet></router-outlet>
  <p id="scrlPlaceholder"></p>
</article>
