<div id="wrapper">
  <form (ngSubmit)="getAvailableHours()" [formGroup]="form">
    <h3>Godziny dostępności stanowiska</h3>
    <label
      >Numer stanowiska
      <input type="number" name="deskID" formControlName="deskID" />
    </label>
    <label
      >Dzień
      <input
        type="date"
        name="reservationDate"
        formControlName="reservationDate"
      />
    </label>
    <input type="submit" value="Sprawdź" />
  </form>
  <div id="list" *ngIf="displayList && availableHours.length > 0">
    Stanowisko jest dostępne w tym dniu w godzinach:
    <table *ngIf="availableHours.length > 0">
      <tr *ngFor="let x of availableHours">
        <td>od</td>
        <td>{{ x.from }}</td>
        <td>do</td>
        <td>{{ x.to }}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="availableHours.length == 0 && displayList">
    To stanowisko nie jest dostępne w tym dniu
  </div>
</div>
