@media (max-width: 350px) {
  form {
    padding: 0;
  }
  #wrapper {
    max-width: 95vw;
  }
}

:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* label {
  width: 100%;
  line-height: 2em;
} */
/* label > input {
  width: 40%;
  border: none;
  padding: 2px;
  max-height: 1.5em;
  outline: 1px solid var(--secondaryThemeColor);
} */

form {
  padding: 1em 3.5em 2.5em 3.5em;
  margin: 1em;
  border-radius: 10px;
  max-width: 310px;
  display: grid;
}

#wrapper {
  background-color: rgb(var(--mainRgbThemeColor));
  margin: 1em;
  border-radius: 10px;
  max-width: 450px;
  min-height: 30em;
}

#list {
  height: fit-content;
  display: grid;
  justify-items: center;
  padding-bottom: 2em;
  line-height: 1em;
}

table {
  line-height: 1.2em;
  text-align: center;
  max-width: 20%;
  background-color: transparent;
  color: var(--secondaryThemeColor);
}

tr,
td {
  border: none;
  width: fit-content;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid var(--secondaryThemeColor);
}

h3 {
  font-size: 2em;
  margin-bottom: 2em;
}

:host {
  display: flex;
  justify-content: center;
}

/* input[type='submit'] {
  border-radius: 15px;
  font-size: 1em;
  font-weight: 200;
  font-family: 'Geologica';
  background: transparent;
  outline: 2px solid var(--secondaryThemeColor);
  color: var(--secondaryThemeColor);
  border: none;
  padding: 0.4em;
  user-select: none;
  margin-top: 1em;
}

input[type='submit']:hover {
  outline: 3px solid;
  font-weight: 300;
}

input[type='submit']:focus-within {
  background-color: var(--secondaryThemeColor);
  color: rgb(var(--mainRgbThemeColor));
} */

div.inputErrors {
  color: red;
  height: 0;
  user-select: none;
  font-family: 'Geologica';
  font-weight: 500;
  width: 60%;
  position: relative;
  font-size: 0.75em;
  left: 50%;
}
