/* tr {
  outline: 1px solid;
  border-collapse: collapse;
  overflow: hidden;
} */

@media (forced-colors: active) {
  td {
    border: 1px solid;
  }
}

td {
  text-align: center;
  padding: 0.4em;
  border-radius: inherit;
  background: #4eb0d1;
}

td:hover {
  transform: scale(1.06);
  outline: 2px solid;
  z-index: 1;
}

:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
}

table {
  background: #fff;
  border-radius: 10px 10px;
}

a {
  user-select: none;
}
a:hover {
  cursor: pointer;
}
/* td border start */

table > tr:first-of-type > td:first-of-type {
  border-top-left-radius: 10px;
}
table > tr:first-of-type > td:last-of-type {
  border-top-right-radius: 10px;
}
table > tr:last-of-type > td:first-of-type {
  border-end-start-radius: 10px;
}
table > tr:last-of-type > td:last-of-type {
  border-end-end-radius: 10px;
}

/* td border end */
