tr {
  outline: 1px solid;
  border-collapse: collapse;
  overflow: hidden;
}
tr {
  outline: 1px solid;
  border-collapse: collapse;
  overflow: hidden;
}
table > tr:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
table > tr:last-of-type {
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}
td {
  text-align: center;
  padding: 0.4em;
  border-radius: inherit;
}

td:hover {
  transform: scale(1.06);
  background-color: #4eb0d1;
  outline: 1px solid;
  z-index: 1;
}

:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
}

table {
  background: #4eb0d1;
  border-radius: 10px 10px;
}
