:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
label > input {
  width: 40%;
  border: none;
  padding: 2px;
  max-height: 1.5em;
  outline: 1px solid var(--secondaryThemeColor);
}

form {
  padding: 1em 3.5em 2.5em 3.5em;
  margin: 1em;
  background-color: var(--mainThemeColor);
  border-radius: 10px;
  max-width: 310px;
}

h3 {
  font-size: 2em;
}

:host {
  display: flex;
  justify-content: center;
}

input[type='submit'] {
  border-radius: 15px;
  font-size: 1em;
  font-weight: 200;
  font-family: 'Geologica';
  background: transparent;
  outline: 2px solid var(--secondaryThemeColor);
  color: var(--secondaryThemeColor);
  border: none;
  padding: 0.4em;
  user-select: none;
}

input[type='submit']:hover {
  outline: 2px solid;
  font-weight: 200;
}

input[type='submit']:focus-within {
  background-color: var(--secondaryThemeColor);
  color: transparent;
}

.inputErrors {
  color: red;
  height: 0;
  width: 100%;
  text-align: end;
  font-size: 0.7em;
}
