<form [formGroup]="reportForm" (ngSubmit)="report()" class="is-narrow">
  <h3 class="subtitle has-text-white is-4">Zgłoś awarię</h3>
  <label>
    ID stanowiska:
    <input
      class="input is-small"
      name="deskID"
      type="number"
      formControlName="deskID"
    />
  </label>
  <div *ngIf="deskID.touched && deskID.invalid" class="inputErrors">
    To pole nie może być puste
  </div>
  <br />
  <label>
    Opis:
    <br />
    <textarea
      class="textarea is-small"
      name="reportDesc"
      formControlName="description"
      maxlength="600"
    ></textarea>
    <br />
  </label>
  <div
    *ngIf="description.value ? description.value.length > 500 : false"
    class="inputErrors"
  >
    Maksymalna długość opisu to 500 znaków
  </div>
  <input class="button is-link" type="submit" value="Zgłoś" />
</form>
