<form [formGroup]="reportForm" (ngSubmit)="report()">
  <!--(ngSubmit)="addDesk()">-->
  <h3 class="bigTxtFont">Dodaj stanowisko</h3>
  <label>
    ID stanowiska:
    <input name="deskID" type="number" formControlName="deskID" />
    <!--[formControl]="newDeskID" -->
  </label>
  <div *ngIf="deskID.touched && deskID.invalid" class="inputErrors">
    To pole nie może być puste
  </div>
  <br />
  <label>
    Opis:
    <input name="reportDesc" type="text" formControlName="description" />
  </label>
  <input type="submit" value="Wyślij" />
</form>
